In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("raw_data/spec_guest_20250416-075202-775.tsv", sep='\t', header=0)
df.head()

        m/z   intensity
0  110.0694   1559.0668
1  110.0712  24162.3203
2  112.0869   1698.3682
3  112.8850    717.2484
4  113.0708   1817.2632